@font-face {
  font-family: 'Krungthep';
  font-family: 'Krungthep';
  src: url('Krungthep.woff2') format('woff2'),
       url('Krungthep.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
