/* general */
.header {
  font-family: 'Cormorant Garamond', serif;
}

/* links */
.header a {
  color: blue;
  font-size: 1.2em;
  padding: 0em 0.5em;
}

/* logo */
.logo {
  width: 8%;
  image-rendering: pixelated;
  margin: auto;
  display: block;
  border-radius: calc(100%/28);
}