/* general */
.header {
  font-family: 'Cormorant Garamond', serif;
  margin-top: 18px;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2.2em;
  margin-top: 10px;
  margin-bottom: 26px;
}

/* links */
.header a {
  color: blue;
  font-size: 1.35em;
  padding: 0em 0.5em;
}

/* logo */
.logo {
  width: 9rem;
  height: 9rem;
  image-rendering: pixelated;
  margin: auto;
  display: block;
  border-radius: calc(5%);
}

/* media queries */

@media (max-width: 1680px) {
  
}