/* text */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

/* containers */
.container {
  text-align: center;
  width: 100vw;
}

.main {
  text-align: left;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 5rem;
  width: 42rem;
}

/* text styles */
.main {
  font-family: 'Work Sans', Georgia, Cambria, serif !important;
  font-size: 1rem !important;
  text-align: justify;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.markdown_body code, .markdown_body pre {
  font-size: 0.7em !important;
}

/* markdown text overrides */
.markdown_body {
  font-family: 'Work Sans', Georgia, Cambria, serif !important;
  font-size: 1rem !important;
}

.markdown_body h1, .markdown_body h2, .markdown_body h3, .markdown_body h4, .markdown_body h5, .markdown_body h6 {
  font-family: 'Montserrat', sans-serif !important;
  border: none !important;
  padding: 0rem !important;
  margin-top: 1.1rem !important;
  margin-bottom: 1.1rem !important;
}

.markdown_body h2 {
  padding-bottom: 0.3rem !important;
  margin-top: 3rem !important;
  margin-bottom: 0.3rem !important;
}

.markdown_body h2:first-of-type {
  padding-bottom: 0.3rem !important;
  margin-top: 1.2rem !important;
  margin-bottom: 0.3rem !important;
}

.markdown_body p {
  margin-top: 0.5rem !important;
  margin-bottom: 1.3rem !important;
}

/* markdown code block and inline code overrides */
.markdown_body pre, .markdown_body pre code {
  font-size: 0.85rem !important;
}

.markdown_body pre {
  margin: 24px 0px !important;
}

.markdown_body pre {
  padding: 20px !important;
}

/* unordered list styles (shrinking the bullet to match the font) */
.main ul {
  list-style: none;
}

.main ul li:before {
  content: "•";
  font-size: 1rem;
  padding-right: 0.95rem;
  margin-left: -1.35rem;
  position: absolute;
}

/* media queries */

@media (max-width: 45rem) {
  .main {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    width: 90% !important;
  }
}