/* text */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

/* containers */
.container {
  padding: 0 0.5rem;
  text-align: center;
  width: 100vw;
  padding-top: 50px;
}

.main {
  padding: 3rem 0;
  text-align: left;
  margin: auto;
  width: 45vw;
}

/* font styles */
.main {
  font-family: 'Cormorant Garamond', Georgia, Cambria, serif !important;
  font-size: 1.25rem !important;
  text-align: justify;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.markdown_body code, .markdown_body pre {
  font-size: 0.7em !important;
}

/* markdown text overrides */
.markdown_body {
  font-family: 'Cormorant Garamond', Georgia, Cambria, serif !important;
  font-size: 1.25rem !important;
}

.markdown_body h1, .markdown_body h2, .markdown_body h3, .markdown_body h4, .markdown_body h5, .markdown_body h6 {
  font-family: 'Montserrat', sans-serif !important;
  border: none !important;
  margin-top: 0px !important;
}

/* markdown code block and inline code overrides */
.markdown_body pre, .markdown_body pre code {
  font-size: 0.85rem !important;
}

.markdown_body pre {
  margin: 24px 0px !important;
}

.markdown_body pre {
  padding: 20px !important;
}

/* unordered list styles (shrinking the bullet to match the font) */
.main ul {
  list-style: none;
}

.main ul li:before {
  content: "•";
  font-size: 1.2rem;
  padding-right: 0.95rem;
  margin-left: -1.35rem;
  position: absolute;
}